*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(217, 228, 217);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: rgb(0, 100, 0);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 500px;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1{
    margin-bottom: 20px;
    font-size: 4rem;
    color: wheat;
}

#message{
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(120, 244, 255);
}

#sum ,#cards{
    font-size: 1.5rem;
    margin-top: 1.3rem;
    color: rgb(238, 234, 206);
    
}

button{
    padding: 10px 20px;
    font-size: 28px;
    margin: 10px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: wheat;
    color: rgb(20, 176, 67);
}

button:hover{
    background-color: rgb(252, 252, 228);
    color: rgb(114, 178, 87);
}

button:active{
    transform: scale(0.9);
}



#player-el{
    font-size: 1.4rem;
}